<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyemeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ride Details || Entox || Entox HTML Template For Car Business</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest" />
    <meta name="description" content="Entox HTML Template For Car Business" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">


    <link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="/assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/assets/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="/assets/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="/assets/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="/assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="/assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="/assets/vendors/entox-icons/style.css">
    <link rel="stylesheet" href="/assets/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="/assets/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="/assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/assets/vendors/twentytwenty/twentytwenty.css" />
    <link rel="stylesheet" href="/assets/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="/assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="/assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="/assets/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="/assets/css/entox.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/entox-responsive.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
<p th:text="${status}" id="status" style="display: none"></p>
<p th:text="${current}" id="current" style="display: none"></p>
<!-- The Modal -->
<div id="editModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header" style="display: block">
            <h3 style="float: left">Ride Details</h3>
            <br><br>
            <span style="display:block">Edit ride details.</span>
        </div>
        <div class="modal-body">
            <div class="Price">
                <div style="width:auto; display: flex;">
                </div>
            </div>

            <form th:action="@{/edit-ride}"  method="POST" onsubmit="myButton.disabled=true; return true;">
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 20px; display: flex">
                        <label style="margin-right: 57px; font-weight: 500">Origin: </label>
                        <input type="text"  name="origin" th:value="${ride.origin}" class="form-control form-control-line" placeholder="e.g: Lagos"  style="width: 90%" required>
                    </div>
                    <div class="col-sm-12" style="margin-bottom: 6px; display: flex ">
                        <label style="margin-right: 20px; font-weight: 500">Destination: </label>
                        <input type="text"  name="destination" th:value="${ride.destination}" class="form-control form-control-line" placeholder="e.g: Ikeja" style="width: 90%" required>
                    </div>
                    <div class="col-sm-12" style="display: flex; margin-left: 13px">
                        <div class="col-sm-6" style="margin-bottom: 20px;">
                            <label style="font-weight: 500">Date: </label>
                            <input type="date"  name="date" th:value="${ride.date}" class="form-control form-control-line" placeholder="e.g: Ikeja" style="width: 90%" required>
                        </div>
                        <div class="col-sm-6" style="margin-bottom: 20px; ">
                            <label style="font-weight: 500">Time: </label>
                            <input type="time"  name="time" th:value="${ride.time}" class="form-control form-control-line" placeholder="e.g: Ikeja" style="width: 90%" required>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                </div>
                <button style="display: none" id="submit-form" type="submit"></button>

            </form>
        </div>
        <div class="modal-footer">
            <button class=" search-box__btn" onclick="submitForm()">Make Changes</button>
        </div>
    </div>
</div>

<!-- success modal -->
<div id="successModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header" style="display: block">
            <h2 style="float: left">RIDE REQUEST<span class="fa fa-check" style="margin: 0 0 0 5px; color: #28a745 "></span></h2>
            <br><br>
        </div>
        <div class="modal-body">
            <div class="Price">
                <div style="width:auto; display: flex;">
                </div>
            </div>
            <span style="display:block; text-align: center" id="status-message" ></span>
        </div>
        <div class="modal-footer">
            <a class=" search-box__btn" style="text-align: center" th:href="@{/current-ride}" >Current Ride</a>
        </div>
    </div>
</div>
<!--end of success modal-->

<!-- failed modal -->
<div id="failedModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header" style="display: block">
            <h2 style="float: left">RIDE REQUEST <span class="fa fa-exclamation-triangle" style="margin: 0 0 0 5px; color: red"></span></h2>
            <br><br>
        </div>
        <div class="modal-body">
            <div class="Price">
                <div style="width:auto; display: flex;">
                </div>
            </div>
            <span style="display:block; text-align: center" id="status-message1" ></span>
        </div>
        <div class="modal-footer">
            <a class=" search-box__btn" th:href="@{/shared-ride}" style="text-align: center">Try Again</a>
        </div>
    </div>
</div>
<!--end of failed modal-->

<!-- alert modal -->
<div id="alertModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header" style="display: block">
            <h2 style="float: left">ATTENTION <span class="fa fa-exclamation-triangle" style="margin: 0 0 0 5px; color: red"></span></h2>
            <br><br>
        </div>
        <div class="modal-body">
            <div class="Price">
                <div style="width:auto; display: flex;">
                </div>
            </div>
            <span style="display:block; text-align: center">Are you sure you want to cancel ride</span>
        </div>
        <div class="modal-footer">
            <a th:href="@{/cancel-ride}" class=" search-box__btn yes"  style="text-align: center">YES</a>
            <a class=" search-box__btn no" style="text-align: center" id="no">NO</a>
        </div>
    </div>
</div>
<!--end of alert modal-->


<!-- /.preloader -->
<div class="page-wrapper">
    <header class="main-header main-header-listing-page clearfix">
        <div class="main-header__top">
            <div class="main-header__top-left">
                <p class="main-header__top-left-text">Welcome to our RideShare <a th:href="@{/register}">Register
                    Now</a></p>
            </div>
            <div class="main-header__top-right">
                <div class="main-header__top-right-social-box">
                    <div class="main-header__top-right-social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                        <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="main-header__top-right-contact-box">
                    <ul class="list-unstyled main-header__top-right-contact">
                        <li><a href="mailto:needhelp@company.com">needhelp@company.com</a></li>
                        <li><a href="tel:00-666-888-0000">00 666 888 0000</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <nav class="main-menu clearfix">
            <nav class="main-menu clearfix">
                <div class="main-menu-wrapper clearfix">
                    <div class="main-menu-wrapper__left">
                        <div class="main-menu-wrapper__logo">
                            <a th:href="@{/}"><img src="/assets/images/resources/logo-1.png" alt=""></a>
                        </div>
                        <div class="main-menu-wrapper__main-menu">
                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                            <ul class="main-menu__list">
                                <li >
                                    <a th:href="@{/}">Home</a>
                                </li>
                                <li>
                                    <a th:href="@{/driver}">New Ride</a>
                                </li>
                                <li class="current">
                                    <a th:href="@{/driver-ride}">Current Ride</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="main-menu-wrapper__right">
                        <div class="main-menu-wrapper__search-box-cart-box">
                            <a th:href="@{/driver-profile}" class="main-menu-wrapper__cart fa fa-user"></a>
                        </div>
                        <div class="main-menu-wrapper__btn-box">
                            <a th:href="@{/logout}" class="thm-btn main-menu-wrapper__btn">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
    </header>

    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->

    <!--Listing Top Start-->
    <section class="listing-details-top">
        <div class="container">
            <ul class="list-unstyled listing-details-top__menu">
                <li><a th:href="@{/}">Ride</a></li>
                <li><span>-</span></li>
                <li class="active"><a th:href="@{/driver-ride}">My Ride</a></li>

            </ul>
        </div>
    </section>
    <!--Listing Top End-->

    <!--Listing Details Start-->
    <section class="listing-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="listing-details__left">
                        <div class="listing-details__gallery clearfix">
                            <div class="listing-details__gallery-content-box car_display" th:style="'background-image:url(' + ${car.carImgUrl} + ');'">

                            </div>
                        </div>
                        <div class="listing-details__reviews-box" id="reviews-display">
                            <h3 class="listing-details__reviews-title">Passengers</h3>
                            <div class=" col-12 listing-details__reviews-single" th:each="rideJourney : ${rideJourney}">
                                <div class=" col-1 listing-details__reviews-img">
                                    <div class="fa fa-user fa-4x"></div>
                                </div>
                                <div class="col-8 listing-details__reviews-content">
                                    <div class="listing-details__reviews-content-top">
                                        <div class="listing-details__reviews-content-top-title">
                                            <h3 th:text="${rideJourney.username}">David Cooper</h3>
                                        </div>
                                        <div class="listing-details__reviews-content-top-rating">
                                            <ul class="list-unstyled listing-details__reviews-content-top-rating-box">
                                                <!--                                                <li th:text="'('+${reviews.rating}+')'"></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="listing-details__reviews-content-text" th:text="${rideJourney.note}">
                                    </p>
                                </div>
                                <div class="col-3" style="margin: auto">
                                    <a th:href="@{/end-journey/{id}(id=${rideJourney.id})}" class="thm-btn main-menu-wrapper__btn" style="margin: auto">End Journey</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="listing-details__right" style="margin: 0 0 40px 0;">
                        <h3 class="listing-deails__right-title" th:text="${driver.username}"></h3>
                        <div class="listing-details__features-box">
                            <div class="listing-details__features-box-single">
                                <div class="listing-details__features-box-left">
                                    <p>Make:</p>
                                </div>
                                <div class="listing-details__features-box-right">
                                    <span th:text="${car.make}">Land Rover</span>
                                </div>
                            </div>
                            <div class="listing-details__features-box-single">
                                <div class="listing-details__features-box-left">
                                    <p>Model:</p>
                                </div>
                                <div class="listing-details__features-box-right">
                                    <span th:text="${car.model}">Evoupe</span>
                                </div>
                            </div>
                            <div class="listing-details__features-box-single">
                                <div class="listing-details__features-box-left">
                                    <p>Category:</p>
                                </div>
                                <div class="listing-details__features-box-right">
                                    <span th:text="${car.category}">Sedan Car</span>
                                </div>
                            </div>
                            <div class="listing-details__features-box-single">
                                <div class="listing-details__features-box-left">
                                    <p>Color:</p>
                                </div>
                                <div class="listing-details__features-box-right">
                                    <spanb th:text="${car.color}">Blue</spanb>
                                </div>
                            </div>
                            <div class="listing-details__features-box-single">
                                <div class="listing-details__features-box-left">
                                    <p>Seater:</p>
                                </div>
                                <div class="listing-details__features-box-right">
                                    <span th:text="${car.noSeat}">5-door</span>
                                </div>
                            </div>
                            <div class="listing-details__features-box-single">
                                <div class="listing-details__features-box-left">
                                    <p>Special feature:</p>
                                </div>
                                <div class="listing-details__features-box-right">
                                    <span th:text="${car.specialFeature}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="listing-details__features-box">
                            <div class="listing-details__features-box-single">
                                <div class="listing-details__features-box-left">
                                    <p>Origin:</p>
                                </div>
                                <div class="listing-details__features-box-right">
                                    <span th:text="${ride.origin}">Bowen University</span>
                                </div>
                            </div>
                            <div class="listing-details__features-box-single">
                                <div class="listing-details__features-box-left">
                                    <p >Destination:</p>
                                </div>
                                <div class="listing-details__features-box-right">
                                    <span th:text="${ride.destination}">Lambert Electromec</span>
                                </div>
                            </div>
                            <div class="listing-details__features-box-single">
                                <div class="listing-details__features-box-left">
                                    <p>Departure Date:</p>
                                </div>
                                <div class="listing-details__features-box-right">
                                    <span th:text="${ride.date}">20/21/2005</span>
                                </div>
                            </div>
                            <div class="listing-details__features-box-single">
                                <div class="listing-details__features-box-left">
                                    <p>Departure Time:</p>
                                </div>
                                <div class="listing-details__features-box-right">
                                    <span th:text="${ride.time}">10:23 AM</span>
                                </div>
                            </div>
                            <div class="listing-details__features-box-single">
                                <div class="listing-details__features-box-left">
                                    <p>Available Seats for sharing:</p>
                                </div>
                                <div class="listing-details__features-box-right">
                                    <span th:text="${ride.availableSeat}"></span>
                                </div>
                            </div>
                            <div class="listing-details__features-box-single">
                                <div class="listing-details__features-box-left">
                                    <p>Price($):</p>
                                </div>
                                <div class="listing-details__features-box-right">
                                    <span th:text="${ride.price}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="listing-details__ask-question" >
<!--                            <div class="col-12" style="display: flex">-->
<!--                                <a href="#" class="col-5  listing-details__ask-question-btn edit "  id="editRide" style="width: 47.666667%">Edit Ride</a>-->
<!--                                <a href="#" class="col-5 listing-details__ask-question-btn reject" id = "cancelRide" style="width: 47.666667%; margin-left: 17px">Cancel Ride</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="listing-details__reviews-box" id="reviews-display-2">
                <h3 class="listing-details__reviews-title">Reviews</h3>
                <div class=" col-12 listing-details__reviews-single" th:each="rideJourney : ${rideJourney}">
                <div class=" col-2 listing-details__reviews-img">
                    <div class="fa fa-user fa-4x"></div>
                </div>
                <div class="col-7 listing-details__reviews-content">
                    <div class="listing-details__reviews-content-top">
                        <div class="listing-details__reviews-content-top-title">
                            <h3 th:text="${rideJourney.username}"></h3>
                        </div>
                        <div class="listing-details__reviews-content-top-rating">
                            <ul class="list-unstyled listing-details__reviews-content-top-rating-box">
                                <!--                                                <li th:text="'('+${reviews.rating}+')'"></li>-->
                            </ul>
                        </div>
                    </div>
                    <p class="listing-details__reviews-content-text" th:text="${rideJourney.note}">
                    </p>
                </div>
                <div class="col-3" style="margin: auto">
                    <a href="" class="thm-btn main-menu-wrapper__btn" style="margin: auto">End Journey</a>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--Listing Details End-->

    <!--Site Footer One Start-->
    <footer class="site-footer">
        <div class="site-footer-bg" style="background-image: url(/assets/images/backgrounds/site-footer-bg.jpg)">
        </div>
        <div class="container">
            <div class="site-footer__top">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="footer-widget__column footer-widget__about">
                            <div class="footer-widget__about-logo">
                                <a href="index.html"><img src="/assets/images/resources/footer-logo.png" alt=""></a>
                            </div>
                            <p class="footer-widget__about-text">ShareRide promotes car sharing where commuters going to the
                                campus using similar routes can share transportation.
                            </p>
                            <a th:href="@{/register}" class="thm-btn footer-widget__about-btn">Register</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="footer-widget__column footer-widget__explore clearfix">
                            <h3 class="footer-widget__title">Explore</h3>
                            <ul class="footer-widget__explore-list footer-widget__explore-list-width list-unstyled">
                                <li><a th:href="@{/}">Ride</a></li>
                                <li><a th:href="@{/shared-ride}">Shared Ride</a></li>
                                <li><a th:href="@{/current-ride}">Current Ride</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="footer-widget__column footer-widget__contact">
                            <h3 class="footer-widget__title">Contact</h3>
                            <ul class="list-unstyled footer-widget__contact-list">
                                <li>
                                    <div class="icon">
                                        <span class="icon-pin"></span>
                                    </div>
                                    <div class="text">
                                        <p>88 Broklyn Golden Street, USA</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-clock"></span>
                                    </div>
                                    <div class="text">
                                        <p>Mon - Sat 8:00 - 6:30</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-email"></span>
                                    </div>
                                    <div class="text">
                                        <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-telephone"></span>
                                    </div>
                                    <div class="text">
                                        <p><a href="tel:00-666-888-0000">00 666 888 0000</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="footer-widget__column footer-widget__newsletter">
                            <h3 class="footer-widget__title">Newsletter</h3>
                            <p class="footer-widget__newsletter-text">Subsrcibe for latest articles and resources
                            </p>
                            <form class="footer-widget__newsletter-form">
                                <div class="footer-widget__newsletter-input-box">
                                    <input type="email" placeholder="Email address" name="email">
                                    <button type="submit" class="footer-widget__newsletter-btn"><i
                                            class="fas fa-envelope"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer-bottom">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site-footer-bottom__inner">
                            <div class="site-footer__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                                <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Site Footer One End-->


</div><!-- /.page-wrapper -->


<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

        <div class="logo-box">
            <a href="index.html" aria-label="logo image"><img src="/assets/images/resources/logo-1.png" width="155"
                                                              alt="" /></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="fa fa-envelope"></i>
                <a href="mailto:needhelp@packageName__.com">needhelp@entox.com</a>
            </li>
            <li>
                <i class="fa fa-phone-alt"></i>
                <a href="tel:666-888-0000">666 888 0000</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-facebook-square"></a>
                <a href="#" class="fab fa-pinterest-p"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__top -->



    </div>
    <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->

<div class="search-popup">
    <div class="search-popup__overlay search-toggler"></div>
    <!-- /.search-popup__overlay -->
    <div class="search-popup__content">
        <form action="#">
            <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
            <input type="text" id="search" placeholder="Search Here..." />
            <button type="submit" aria-label="search submit" class="thm-btn">
                <i class="icon-magnifying-glass"></i>
            </button>
        </form>
    </div>
    <!-- /.search-popup__content -->
</div>
<!-- /.search-popup -->

<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

<script>
    let editModal = document.getElementById("editModal");
    let editRide = document.getElementById("editRide");
    let submit = document.getElementById("submit-form");

    function submitForm() {
        submit.click();
        console.log("yes")
    }

    $(document).ready(function(){
        editRide.onclick = function() {
            editModal.style.display="block";
        }
    });
</script>


<script src="/assets/vendors/jquery/jquery-3.5.1.min.js"></script>
<script src="/assets/vendors/jquery-migrate/jquery-migrate.min.js"></script>
<script src="/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendors/jarallax/jarallax.min.js"></script>
<script src="/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
<script src="/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
<script src="/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
<script src="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
<script src="/assets/vendors/nouislider/nouislider.min.js"></script>
<script src="/assets/vendors/odometer/odometer.min.js"></script>
<script src="/assets/vendors/swiper/swiper.min.js"></script>
<script src="/assets/vendors/tiny-slider/tiny-slider.min.js"></script>
<script src="/assets/vendors/wnumb/wNumb.min.js"></script>
<script src="/assets/vendors/wow/wow.js"></script>
<script src="/assets/vendors/isotope/isotope.js"></script>
<script src="/assets/vendors/countdown/countdown.min.js"></script>
<script src="/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/assets/vendors/twentytwenty/twentytwenty.js"></script>
<script src="/assets/vendors/twentytwenty/jquery.event.move.js"></script>
<script src="/assets/vendors/bxslider/jquery.bxslider.min.js"></script>
<script src="/assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/assets/vendors/vegas/vegas.min.js"></script>
<script src="/assets/vendors/jquery-ui/jquery-ui.js"></script>
<script src="/assets/vendors/timepicker/timePicker.js"></script>


<script src="http://maps.google.com/maps/api/js?key=AIzaSyATY4Rxc8jNvDpsK8ZetC7JyN4PFVYGCGM"></script>


<!-- template js -->
<script src="/assets/js/entox.js"></script>
</body>

</html>